A:link {
	COLOR: #666666; 
	TEXT-DECORATION: none; 
}
A:visited {
	COLOR: #666666; 
	TEXT-DECORATION: none; 
}
A:active {
	COLOR: #666666; 
	TEXT-DECORATION: none; 
}
A:hover {
	COLOR: #999999; 
	TEXT-DECORATION: none; 
}
